<!-- 主题布局 -->
<%
  var pageTitle = page.title || config.subtitle || '';
  if (is_archive()) pageTitle = 'Archives';
  if (is_tag()) pageTitle = 'Tag: ' + page.tag;
  if (is_category()) pageTitle = 'Category: ' + page.category;
  if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
  if (is_year()) pageTitle += ': ' + page.year;
  if (pageTitle != config.subtitle) pageTitle += '-' + config.title;
%>

<!DOCTYPE html>
<html lang="<%= config.language %>">
<head>
  <!-- 编码方式 -->
  <meta charset="UTF-8">
  <!-- 浏览器页签图标 -->
  <link rel="icon" href="<%= theme.favicon %>">
  <!-- 标题 -->
  <title> <%= pageTitle %> </title>

  <!-- 网站SEO - 关键字和描述 -->
  <% if (config.keywords !== undefined && config.keywords.length > 0) { %>
    <meta name="keywords"  content="<%= config.keywords %>" />
  <% } %>
  <% if (config.description !== undefined && config.description.length > 0) { %>
    <meta name="description" content="<%= config.description %>" />
  <% } %>

  <!-- ================================== 不要放到下面，否则会闪烁 ====================================== -->
  <!-- 内部脚本 -->
  <% if (theme.scripts !== undefined && theme.scripts.length > 0) { %>
  <% theme.scripts.forEach(url => { %>
    <script src="<%=url%>"></script>
  <% }); %>
  <% } %>

  <!-- 内部样式文件 -->
  <% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
  <% theme.stylesheets.forEach(url => { %>
    <link rel="stylesheet" href="<%=url%>">
  <% }); %>
  <% } %>

  <!-- 小图标 -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- gitalk -->
  <link rel="stylesheet" href="/gitalk/gitalk.css" />
  <script src="/gitalk/gitalk.min.js"></script>
  <!-- ================================== 不要放到下面，否则会闪烁 ====================================== -->
</head>

<body>

  <div id="container">
    <!-- container start -->

    <!-- 导航栏 -->
    <nav id="menu-outer">
      <div id="menu-title" style="text-align: right; padding-right: 18px">
        <h3>
          <a href="/"><%=config.title%></a>
        </h3>
      </div>
      <div id="menu-inner">
        <% Object.keys(theme.menu).forEach(key => { %>
          <!-- 导航栏目录 -->
          <a id="menu-a" href="<%=theme.menu[key]%>"><%=key%></a>
        <% }); %>
      </div>
      <div id="menu-footer"><%=theme.developer_msg%></div>
    </nav>

    <!-- 文章内容 -->
    <div id="content-outer">
      <div id="content-inner">
        <%- body %>
      </div>
      <div id="bottom-outer">
        <div id="bottom-inner">
          <%=theme.footer_msg%>
          <!-- 页脚导航 -->
          <span>
            <a id="bottom-totop" href="/">網站首頁</a>
            <a id="bottom-totop" href="#">回到頂部</a>
          </span>
        </div>
      </div>
    </div>

    <!-- container end -->
  </div>

<!-- 外部依赖 -->
<!-- <link rel="stylesheet" href="//cdn.bootcss.com/highlight.js/9.2.0/styles/github.min.css">
<script src="//cdn.bootcss.com/highlight.js/9.2.0/highlight.min.js"></script> -->
<script>
    hljs.initHighlightingOnLoad();
</script>

</body>
</html>