<% page.posts.sort('date', -1).limit(config.index_generator.per_page).each(post => { %>
<!-- foreach start -->

    <!-- 不显示隐藏文章 -->
    <% if (!post['hide']) { %>
    <!-- hide start -->
    
        <!-- 主页文章选项 -->
        <div class="recent-post-item">
        <!-- item start -->

        <!-- 文章名称 -->
        <div class="post-title">
            <a href="<%= url_for(post.path) %>" style="text-decoration: none;" >
            <%= post.title %>
            </a>
        </div>

        <!-- 文章元信息 -->
        <div id="id-post-metadata" class="post-metadata">
            <i class="fa fa-calendar"></i>&thinsp;
            <!-- 文章日期 -->
            <time datetime="<%= post.date.toJSON() %>"></time><%=date(post.date)%> &ensp; 
            <!-- 文章作者 -->
            作者: <%= config.author %>
        </div>

        <!-- 摘要 -->
        <div class="post-desc">
            <!-- 判断是否开启摘要 -->
            <% if (theme.excerpt_render) { %>
            <%- truncate(strip_html(post.excerpt), {length: theme.excerpt_length}) %>
            <!-- 阅读全文按钮：如果没有摘要则不显示 -->
            <% if (post.excerpt.length) { %>
                <a class="excerpt-buttom" href="<%=url_for(post.path)%>"><%=theme.excerpt_link%></a>
            <% } %>
            <% } %>
        </div>

        <!-- 标签 -->
        <div id="id-post-metadata" class="post-metadata">
            <!-- 标签 -->
            <% if (post.tags.length > 0) { %>
            <i class="fa fa-tags"></i> 
            <%- list_tags(post.tags, {
                show_count: false
            }) %> 
            <% } %>
        </div>

        <!-- item end -->
        </div>

    <!-- hide end -->
    <% } %> 

<!-- foreach end -->
<% }); %>